/**
 * This file must be a sibling of recordHIT because it's
 * injected dynamically.
 */
div {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

#WamiWrapper {
	position: absolute;
	width: 90%;
}

#WamiDiv {
	height: 137px;
	width: 214px;
	margin: 0px auto;
}

#SpacerDiv {
	height: 100px;
}

#RecordButton {
	float: left;
	margin-left: 40px;
	margin-top: 20px
}

#PlayButton {
	float: right; 
	margin-right: 40px; 
	margin-top: 20px;
}

#PhraseDiv {
	width: 600px;
	background-color: #FFCC99;
	margin: 0px auto;
}

#PrevTaskButton {
	width: 75px;
	margin-right: 20px;
	margin-bottom: 10px;
}

#ButtonsDiv {
	width: 500px;
	margin: 0px auto;xo
}

#NextTaskButton {
	width: 75px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#InstructionsDiv {
	display: none; 
	margin-bottom: 10px;
}

#InstructionsDiv.one {
	color: green; 
}

#InstructionsDiv.two {
	color: blue; 
}

#InstructionsDiv.error {
	color: red; 
}

#TaskDiv {
	font-size: 22px;
}

#ReadingDiv {
	margin-bottom: 25px;
	font-size: 18px;
}

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 16px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
}

.button.enabled:active {
       position: relative;
       top: 1px;
}

.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
}

.blue {
	color: #d9eef7;
	border: solid 1px #000654;
	background: #2B3768;
}

.blue:hover {
	background: #027CFF;
}